In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [2]:
cd= pd.read_csv("D://assignments//Assignment 15//Fraud_check.csv")
cd.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [3]:
label_encoder = preprocessing.LabelEncoder()
cd['Undergrad']= label_encoder.fit_transform(cd['Undergrad']) 
cd['Urban']= label_encoder.fit_transform(cd['Urban'])
cd['Marital.Status']= label_encoder.fit_transform(cd['Marital.Status'])

In [4]:
cd.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,68833,50047,10,1
1,1,0,33700,134075,18,1
2,0,1,36925,160205,30,1
3,1,2,50190,193264,15,1
4,0,1,81002,27533,28,0

In [5]:
df=cd

In [6]:
def func(x):
    if  x <= 30000:
        return 'Risky'
    else :
        return 'Good'

In [7]:
df['Taxable_income'] = df['Taxable.Income'].apply(func)

In [8]:
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Taxable_income
0,0,2,68833,50047,10,1,Good
1,1,0,33700,134075,18,1,Good
2,0,1,36925,160205,30,1,Good
3,1,2,50190,193264,15,1,Good
4,0,1,81002,27533,28,0,Good

In [9]:
df['Taxable_income']= label_encoder.fit_transform(df['Taxable_income'])

In [10]:
df = df.drop('Taxable.Income', 1)

In [12]:
df.head()

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,Taxable_income
0,0,2,50047,10,1,0
1,1,0,134075,18,1,0
2,0,1,160205,30,1,0
3,1,2,193264,15,1,0
4,0,1,27533,28,0,0

In [13]:
x=df.iloc[:,:5]
y=df['Taxable_income']

In [14]:
x

     Undergrad  Marital.Status  City.Population  Work.Experience  Urban
0            0               2            50047               10      1
1            1               0           134075               18      1
2            0               1           160205               30      1
3            1               2           193264               15      1
4            0               1            27533               28      0
..         ...             ...              ...              ...    ...
595          1               0            39492                7      1
596          1               0            55369                2      1
597          0               0           154058                0      1
598          1               1           180083               17      0
599          0               0           158137               16      0

[600 rows x 5 columns]

In [15]:
y

0      0
1      0
2      0
3      0
4      0
      ..
595    0
596    0
597    0
598    0
599    0
Name: Taxable_income, Length: 600, dtype: int32

In [16]:
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.3,random_state=40)

In [17]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

In [20]:
X_train

array([[ 0.98113038,  1.14802316,  1.7143464 , -0.06043462,  1.        ],
       [-1.01923253,  1.14802316, -1.21953377,  1.05283463, -1.        ],
       [ 0.98113038, -1.26282547,  0.06933349, -0.17176154, -1.        ],
       ...,
       [ 0.98113038,  1.14802316,  0.44880586, -1.39635771,  1.        ],
       [ 0.98113038, -1.26282547, -1.68261904, -0.72839616, -1.        ],
       [ 0.98113038, -1.26282547,  1.13754596,  0.38487308,  1.        ]])

In [21]:
X_test

array([[ 9.81130380e-01,  1.14802316e+00, -1.64812897e+00,
        -1.61901156e+00, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -1.58047538e+00,
         1.05283463e+00, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -6.53182387e-01,
         1.49814233e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  1.29287371e+00,
        -6.17069238e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  1.35150332e-01,
        -1.06237694e+00, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -1.52471984e+00,
         1.49814233e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.34869805e+00,
         1.49814233e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  4.08234109e-01,
        -1.71761541e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.31606514e+00,
        -2.83088465e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -1.20902349e+00,
        -6.17069238e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  5.43357619e-01,
        -5.05742314e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -1.56759773e+00,
         3.84873082e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  1.83495960e+00,
        -6.17069238e-01, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -1.17543139e+00,
        -3.94415390e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  4.81581623e-01,
         2.73546157e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  7.91257524e-01,
        -1.71761541e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  1.09215785e+00,
         1.62219233e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  1.75706102e+00,
         3.84873082e-01, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -7.30962007e-02,
         7.18853855e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -1.41169855e+00,
        -6.17069238e-01, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -1.44257692e-03,
        -1.17370386e+00,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.03524661e+00,
         4.96200006e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.07702245e+00,
         1.62219233e-01, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -3.05652545e-02,
         1.49814233e+00, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  4.08458600e-01,
         7.18853855e-01, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -1.20790453e-01,
        -6.17069238e-01, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.54698532e+00,
         1.38681540e+00, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -3.26934928e-01,
         1.27548848e+00,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -1.20181935e+00,
         1.05283463e+00,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -9.54837817e-01,
         1.16416155e+00,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  8.98911430e-01,
         9.41507704e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -1.60180208e+00,
        -6.17069238e-01, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  7.82706436e-01,
        -7.28396163e-01,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  2.18661192e-01,
        -3.94415390e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  1.32205761e+00,
         1.60946925e+00, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -6.59774276e-01,
        -1.06237694e+00,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.59400610e+00,
        -2.83088465e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -8.26000071e-01,
        -9.51050012e-01,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  1.40452764e+00,
        -1.28503079e+00,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  1.22177111e+00,
        -6.04346161e-02, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.66096581e+00,
        -5.05742314e-01, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.49402572e+00,
         9.41507704e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -6.19692329e-01,
        -5.05742314e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  1.47526289e+00,
        -6.17069238e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  1.50603865e+00,
        -9.51050012e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  9.64116024e-01,
         1.49814233e+00,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.55785538e+00,
         1.60946925e+00,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -1.20847246e+00,
        -6.17069238e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  5.77704827e-01,
        -6.17069238e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.69461155e+00,
         1.62219233e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  2.87212750e-01,
        -1.61901156e+00,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.21034245e+00,
        -1.71761541e-01, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  3.91152342e-01,
        -1.71761541e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  3.30376355e-01,
        -2.83088465e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  1.63232185e-01,
        -1.28503079e+00, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.64492487e+00,
        -1.73033848e+00,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -7.37060597e-01,
        -1.17370386e+00, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.85354808e-01,
         1.16416155e+00, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  1.42773191e+00,
         3.84873082e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  1.36875185e+00,
         6.07526931e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  7.77665580e-01,
         5.08923083e-02,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.05577738e+00,
        -2.83088465e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  1.69691770e+00,
         6.07526931e-01,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.28126895e+00,
         1.27548848e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -7.18448206e-01,
        -5.05742314e-01,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -3.32383951e-01,
        -1.73033848e+00,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  1.47160980e+00,
        -2.83088465e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.14109701e+00,
        -2.83088465e-01, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.47757661e+00,
         1.49814233e+00,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  1.57097793e+00,
         1.05283463e+00,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -4.72592631e-02,
         4.96200006e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  5.02357297e-01,
         6.07526931e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -1.53633218e+00,
         1.60946925e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -9.29817212e-01,
         3.84873082e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -1.33394283e+00,
         6.07526931e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  2.95906696e-01,
         4.96200006e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.47619818e-01,
        -1.06237694e+00,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -7.40693279e-01,
        -7.28396163e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -1.49278082e+00,
         4.96200006e-01, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -3.21162871e-02,
        -1.50768463e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  1.07138217e+00,
         1.38681540e+00, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  1.63620293e+00,
         7.18853855e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  5.17826806e-01,
         1.60946925e+00,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.50576051e+00,
        -3.94415390e-01, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -9.31429470e-01,
         1.62219233e-01, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -6.75856035e-01,
         1.16416155e+00, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  2.46171612e-01,
        -1.71761541e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -7.93003310e-02,
        -5.05742314e-01, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  1.60828435e+00,
         1.16416155e+00, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  5.79888518e-01,
        -1.39635771e+00,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  1.10379059e+00,
        -5.05742314e-01, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -4.91160707e-01,
        -1.71761541e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  2.27620446e-01,
         6.07526931e-01, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -7.94673294e-01,
         1.05283463e+00, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  1.52418165e+00,
        -5.05742314e-01, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -5.45752973e-01,
         1.49814233e+00,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  6.12398977e-01,
         1.49814233e+00, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -3.07404163e-01,
        -1.73033848e+00,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -3.61118870e-01,
        -2.83088465e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -1.23073794e+00,
        -8.39723087e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -2.27321901e-01,
         2.73546157e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -1.61559811e+00,
        -5.05742314e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  1.52052856e+00,
        -1.61901156e+00,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -4.36609259e-01,
        -2.83088465e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  1.07838223e+00,
         1.05283463e+00,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -8.04693781e-01,
         1.05283463e+00,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  7.91971815e-01,
        -2.83088465e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.73679556e+00,
         8.30180780e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  2.13535204e-02,
         7.18853855e-01, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -5.44834598e-01,
        -3.94415390e-01, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -8.45755328e-01,
        -3.94415390e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.81534720e+00,
         1.05283463e+00, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  1.80965327e+00,
        -9.51050012e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  5.29051384e-01,
        -2.83088465e-01, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -1.09985936e+00,
        -1.50768463e+00,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -3.62731128e-01,
         8.30180780e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -1.14943118e+00,
        -1.17370386e+00,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -1.02026690e+00,
        -1.06237694e+00, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  1.49593653e+00,
         9.41507704e-01, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  7.84135019e-01,
        -2.83088465e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -5.12854755e-01,
        -1.61901156e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -4.61487005e-01,
         5.08923083e-02,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  6.78028647e-02,
         1.05283463e+00, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -1.58472031e+00,
         1.62219233e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  1.70973412e+00,
         1.16416155e+00,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  1.67097872e+00,
        -3.94415390e-01,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  1.18656675e+00,
        -9.51050012e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  8.64788713e-01,
        -1.28503079e+00,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.50681416e+00,
        -1.71761541e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.51629120e+00,
        -1.50768463e+00, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  9.43279126e-01,
        -1.28503079e+00,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -1.65004736e+00,
         6.07526931e-01, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  3.91621733e-01,
        -3.94415390e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -3.23914496e-01,
        -1.28503079e+00,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -8.62796278e-01,
        -3.94415390e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -1.39000450e+00,
         1.27548848e+00, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  3.39213159e-01,
        -1.73033848e+00,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  1.65354651e-01,
        -5.05742314e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -6.57325277e-01,
         2.73546157e-01,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -6.92631677e-01,
         3.84873082e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -1.09532872e+00,
        -1.73033848e+00,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.35861650e+00,
         1.05283463e+00,  1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -4.61548230e-01,
        -1.71761541e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.45282132e+00,
        -3.94415390e-01,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  4.02744270e-01,
        -1.39635771e+00,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -3.94139537e-01,
         1.05283463e+00, -1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00,  1.19117903e+00,
         1.60946925e+00, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.20840366e+00,
        -7.28396163e-01, -1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -6.04263636e-01,
        -6.04346161e-02,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  4.53214054e-01,
         1.60946925e+00, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  6.30011360e-01,
         1.27548848e+00, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -1.69403079e-01,
        -6.17069238e-01, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  5.88011030e-01,
         4.96200006e-01, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  1.83926225e-01,
        -2.83088465e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.15669654e+00,
        -9.51050012e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -3.23424697e-01,
        -3.94415390e-01,  1.00000000e+00],
       [-1.01923253e+00, -1.26282547e+00, -7.55305638e-01,
         1.16416155e+00,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.15190059e+00,
         8.30180780e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  3.52947960e-01,
        -6.17069238e-01,  1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  7.74706374e-01,
         1.16416155e+00, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00,  9.74769169e-01,
        -1.71761541e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -4.47490394e-02,
        -2.83088465e-01, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  1.10185180e+00,
         1.38681540e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  2.39477682e-01,
         9.41507704e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.07769942e-01,
         1.38681540e+00, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02, -1.45247438e+00,
         3.84873082e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  7.40478117e-02,
        -5.05742314e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02, -1.59521019e+00,
        -9.51050012e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  1.29987026e-01,
        -1.17370386e+00, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -1.39606577e+00,
         1.38681540e+00,  1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  1.80775530e+00,
        -9.51050012e-01, -1.00000000e+00],
       [-1.01923253e+00, -5.74011578e-02,  6.95664937e-01,
         5.08923083e-02,  1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -2.11872800e-01,
         7.18853855e-01, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -9.66164436e-01,
        -1.28503079e+00, -1.00000000e+00],
       [-1.01923253e+00,  1.14802316e+00, -1.36004508e+00,
        -6.17069238e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00,  5.07622644e-01,
        -1.71761541e-01, -1.00000000e+00],
       [ 9.81130380e-01,  1.14802316e+00, -1.05996109e+00,
         1.62219233e-01, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00,  1.73795883e+00,
         1.62219233e-01,  1.00000000e+00],
       [ 9.81130380e-01, -5.74011578e-02,  8.38523201e-01,
        -1.50768463e+00, -1.00000000e+00],
       [ 9.81130380e-01, -1.26282547e+00, -4.56282882e-01,
         4.96200006e-01, -1.00000000e+00]])

In [26]:
classifier = RandomForestClassifier(n_estimators=200, random_state=0)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

In [27]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test, y_pred))

[[131   9]
 [ 39   1]]
              precision    recall  f1-score   support

           0       0.77      0.94      0.85       140
           1       0.10      0.03      0.04        40

    accuracy                           0.73       180
   macro avg       0.44      0.48      0.44       180
weighted avg       0.62      0.73      0.67       180

0.7333333333333333